@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Poppins', sans-serif;
    position: relative;
    overflow-x: hidden;
}

/* ------------- NAVBAR -------------- */

.logo
{
    position: relative;
    right: 5vw;
}
.logo_img
{
    max-height: 75px;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 75px;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: pink;
}
header.sticky
{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header.sticky .logo
{
    color: #111;
}
header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li
{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a
{
    text-decoration: none;
    color: #fff;
}
header.sticky .navigation li a
{
    color: #111;
}
header .navigation li a:hover
{
    color: #ff0157;
}

/* ------------- BANNIERE -------------- */

.banner
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/banniere.png);
    background-size: cover;
    background-position: bottom;
}
.banner_content_title
{
    font-size: 4.7em;
    font-family: 'PT Serif', serif;
    color: pink;
    text-shadow: #ff0157 3px 3px 20px;
}
.banner_content_slogan_text
{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

section{
    padding: 75px;
}


/* ------------- NOTRE MISSION -------------- */

.mission_div
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mission_div_col50
{
    position: relative;
    width: 47%;
}
.mission_img_cadre
{
    border: 10px solid black;
    box-shadow: 10px 10px 10px grey;
}

/* ----------------COMMUN---------------- */
/* --TITRE DES SECTIONS "MISSION & MENU"-- */
.titleText
{
    color: #111;
    font-size: 2em;
    font-weight: 300;
    font-family: 'Lobster', cursive;

}
.titleText span
{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
p
{
    font-weight: 300;
    color: #111;
}
/* --IMG DES SECTIONS "MISSION & MENU"-- */
.imgBx
{
    width: 400px;
}
img
{
    width: 100%;
}
/* ------------------------------------- */


/* ----------------MENU---------------- */

.menu
{
    margin-top: -60px;
}
.menu_banner
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu_content
{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.menu_content_box
{
    width: 340px;
    margin: 20px;
    border: 15px solid white;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.menu_content_box .imgBx
{
    width: 100%;
}
.menu a
{
    text-decoration: none;
    color: white;
}
.menu p
{
    text-align: center;
    padding: 0 200px;
}
.btn1
{
    font-size: 1em;
    color: white;
    background: #ff0157;
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
    transition: 0.5s;
} 
.btn1:hover
{
    transition: 0.3s ease-in-out;
    transform: rotate(-2deg);
    background-color: pink;
    color: #ff0157;
}


/* -------------- CONTACT---------------- */

.contact
{
    background-color: pink;
}
.contact_banner
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_banner_text
{
    text-align: center;
}
.contactForm
{
    padding: 75px 50px;
    background: pink;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    max-width: 500px;
    margin-top: 50px;
}
.contactForm h3
{
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm_inputBox
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm_inputBox input
{
    width: 100%;
    border: 1px solid #111;
    padding: 10px;
    font-size: 16px;
    outline: none;
}
.contactForm_inputBox textarea
{
    width: 100%;
    border: 1px solid #111;
    padding: 10px;
    font-size: 16px;
    outline: none;
    resize: none;
}
.contactForm_inputBox input[type="submit"]
{
    background: #ff0157;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.contactForm_inputBox input[type="submit"]:hover
{
    background-color: #111;
}

@media screen and (max-width:991px)
{
    /* <!--------------- NAVBAR ----------------> */

    .logo
    {
        margin-left: 15%;
    }
    header, header.sticky
    {
        padding: 10px 20px;
    }
    header .navigation
    {
        display: none;
    }
    header .navigation.active
    {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        background: linear-gradient(90deg, rgba(209,73,133,1) 0%, rgba(231,209,209,1) 100%);
    }
    header .navigation li
    {
        margin-left: 0;
    }
    header .navigation li a 
    {
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300t;
    }
    .menuToggle
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../img/icon-menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active
    {
        background: url(..//img/croix-icon.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    section
    {
        padding: 150px;
    }

    /* <!--------------- BANNIERE ----------------> */

    .banner_content_title{
        font-size: 3em;
        color: pink;
    }
    .banner_content_slogan{
        margin-top: 70px;
    }
    /* <!--------------- NOTRE MISSION ----------------> */

    .mission
    {
        flex-direction: column;
    }
    .mission_div_col50{
        position: relative;
        width: 100%;
    }
    .mission_div_col50 .imgBx
    {
        height: 300px;
        margin-top: 20px;
    }

    /* <!--------------- MENU ----------------> */

    .menu_banner
    {
        margin-top: 20px;
    }
    .menu_content_box
    {
        margin: 10px;
    }
    .titleText
    {
        padding: 0;
    }
    .title{
        text-align: center;
    }
    .titleText
    {
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 300;
    }

    /* <!--------------- CONTACT ----------------> */

    .contact{
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 480px) 
{
    .banner .content h2
    {
        font-size: 2.2em;
    } 
}