@font-face {
    font-family: 'Minerva Modern';
    src: url('../fonts/minerva-modern/T-26 - Minerva Modern Regular.otf') format('opentype'); 
}
@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/Fira_Sans/FiraSans-Thin.ttf') format('opentype');
}
  

:root {
    --pastel_white: #f7f4e6;
    --pastel_yellow: #fde1af;
    --text_color: #000;
    --card_border: 10px;
    --shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    --space: 80px;
  }
  
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    position: relative;
    overflow-x: hidden;
    font-family: 'Minerva Modern', sans-serif;
}

/* ------------- NAVBAR -------------- */

.logo
{
    position: relative;
    right: 5vw;
}
.logo_img
{
    max-height: 75px;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 75px;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.1px;
    transition: 0.5s;
    background-color: var(--pastel_white);
}
header.sticky
{
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 100px;
    z-index: 10000;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}


header .navigation
{
    display: flex;
    position: relative;
}
header .navigation li
{
    position: relative;
    list-style: none;
    margin-left: 15px;
}
header .navigation li a
{
    text-decoration: none;
    color: var(--text_color);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: inline-block;
    transition-property: transform;
    transition-duration: 0.5s;
}

header .navigation li a:hover
{
    transform: scale(1.11);
}

header .navigation .product_menu
{
    display: none;
    list-style-type: none;
    margin-top: 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    overflow: hidden;
}

header .navigation .product_menu li
{
    float: none;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    background-color: var(--pastel_white);
}

header .navigation .product_menu li a
{
    width: 100%;
}

header.sticky .navigation .product_menu li
{
    background-color: rgba(255, 255, 255, 0.9);
}


header .navigation li:hover .product_menu
{
    display: block;
}


/* ------------- ACCUEIL BANNIERE -------------- */

.accueil_banner
{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/back1.jpg);
    background-size: cover;
    background-position: center;
}
.accueil_banner_content_title
{
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
}
.accueil_banner_content_slogan_text
{
    text-align: center;
    font-size: 1.3em;
    font-family: 'Fira Sans';
    font-weight: 900;
}

/* ---------------- MENUS ---------------- */

.menu
{
    margin-top: var(--space);
}
.menu_banner .accueil_titleText
{
    margin-left: 30px;
    font-size: 3.5rem;
}

.menu_banner p
{
    margin-left: 40px;
    letter-spacing: 3px;
}

.menu_content
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 30px;
    margin-bottom: 50px;
}

.menu_content_wrapper
{
    margin: 10px;
}
.menu_content_wrapper h3, p
{
    margin-left: 10px;
}
.menu_content_wrapper h3
{
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 22px;
}
.menu_content_wrapper p
{
    margin-top: 7px;
    font-family: 'Fira Sans';
    font-weight: bold;
}


.menu_content_box
{
    display: flex;
    width: 100%;
    margin: 10px;
    overflow: hidden;
    border-radius: var(--card_border);
}
.menu_content_box article img
{
    height: 100%;
    transition: transform 0.8s;
}
.menu_content_box article img:hover
{
    transform: scale(1.05);
}

/* ------------- NOTRE MISSION -------------- */

.accueil_mission_div
{
    margin-top: var(--space);
    background-color: var(--pastel_white);
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.accueil_titleText
{
    font-size: 35px;
    font-weight: 300;
    margin-left: 10px;
}
.accueil_mission_div p
{
    text-align: justify;
}
.accueil_mission_div_col50
{
    margin: auto;
    margin-left: 20px;
    line-height: 30px;
    width: 50%;
}
.accueil_mission_img
{
    border-radius: var(--card_border);
    box-shadow: var(--shadow);
    margin-left: 130px;
}
/* .animated-element {
    opacity: 0;
    transform: translateX(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .animated-element.is-visible {
    opacity: 1;
    transform: translateX(100px);
  } */
  

/* ----------------COMMUN---------------- */
/* --TITRE DES SECTIONS "MISSION & MENU"-- */

p
{
    font-weight: 300;
    color: #111;
}
/* --IMG DES SECTIONS "MISSION & MENU"-- */
.imgBx
{
    width: 400px;
}
img
{
    width: 100%;
}
/* -----------------ACCUEIL MEDIA QUERIES-------------------- */
@media screen and (max-width:991px)
{
    /* <!--------------- NAVBAR ----------------> */

    .logo
    {
        margin-left: 15%;
    }
    header, header.sticky
    {
        padding: 10px 20px;
    }
    header .navigation
    {
        display: none;
    }
    header .navigation.active
    {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        background: linear-gradient(90deg, rgba(209,73,133,1) 0%, rgba(231,209,209,1) 100%);
    }
    header .navigation li
    {
        margin-left: 0;
    }
    header .navigation li a 
    {
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300t;
    }
    .menuToggle
    {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../img/icon-menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active
    {
        background: url(..//img/croix-icon.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    section
    {
        padding: 150px;
    }

    /* <!--------------- BANNIERE ----------------> */

    .accueil_banner_content_title{
        font-size: 3em;
        color: pink;
    }
    .banner_content_slogan{
        margin-top: 70px;
    }
    /* <!--------------- NOTRE MISSION ----------------> */

    .accueil_mission
    {
        flex-direction: column;
    }
    .accueil_mission_div_col50{
        position: relative;
        width: 100%;
    }
    .accueil_mission_div_col50 .imgBx
    {
        height: 300px;
        margin-top: 20px;
    }


    /* <!--------------- MENU ----------------> */

    .menu_banner
    {
        margin-top: 20px;
    }
    .menu_content_box
    {
        margin: 10px;
    }
    .accueil_titleText
    {
        padding: 0;
    }
    .accueil_titleText
    {
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 300;
    }
}
@media screen and (max-width: 480px) 
{
    .accueil_banner .content h2
    {
        font-size: 2.2em;
    } 
}

/* _____________________________________________________________________________________ */




    /* <!--------------- FOOTER ----------------> */


footer
{
    text-align: center;
    color: var(--text_color);
    background-color: #ebdbbe;
    /* background-position: bottom; */
    position: relative;
    overflow: hidden;
}

.footer_container
{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin: 0 auto;
    padding: 2em;
}

.footer_menu
{
    list-style: none;
}

.footer_menu li
{
    margin: 1.2em;
    text-align: center;
}

footer p
{
    max-width: 25em;
    font-size: 0.9em;
    line-height: 25px;
    margin: 0 auto;
}

.footer_menu a
{
    color: var(--text_color);
    text-decoration: none;
}

footer hr
{
    color: rgba(0,0,0,0.5);
}
footer .sci
{
    display: flex;
    /* flex-direction: column; */
    list-style: none;
}

.sci li a
{
    text-decoration: none;
}

.sci li a i
{
    display: grid;
    place-content: center;
    width: 60px;
    height: 60px;
    font-size: 35px;
    background-color:  rgba(0,0,0,0.8);
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    color: #eeeeee;
    transform: scale(0.6);
} 

.copyright
{
    color: #ccc;
    margin-top: 50px;
}

.footer_legal a
{
    text-decoration: none;
}
#box1
{
    width: 250px;
}
#box1 img
{
    width: 100%;
}
#box2 .info
{
    text-align: start;
}

#box2 p span
{
    font-weight: bold;
    color: black;
}


#box3 a
{
    color: #000;
}
.footer_legal
{
    text-align: start;
    display: flex;
    flex-direction: column;
    line-height: 40px;
}

#box1, #box2, #box3, #box4
{
    /* border: 1px solid; */
}

@media screen and (max-width: 992px) 
{
    .footer_container
    {
        flex-direction: column;
    }
    #box1
    {
        order: 1;
    }   
    #box2 
    {
        order: 3;
    }
    #box3 
    {
        order: 2;
    }
    .footer_menu
    {
        display: flex;
    }
    .sci
    {
        flex-direction: row;
    }
}



/* ------------- BANNIERE -------------- */

.banner
{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_content_titleText
{
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
}



/* ----------------- ALL BANNERS --------------------- */
.wedding_banner
{
    background: url(../img/banner_04.png);
    background-size: cover;
    background-position: center;
}

.patisserie_banner
{
    background: url(../img/banner_02.jpg);
    background-size: cover;
    background-position: top;
}

.boulangerie_banner
{
    background: url(../img/banner_03.jpg);
    background-size: cover;
    background-position: center;
}

.birthday_banner
{
    background: url(../img/banner_05.png);
    background-size: cover;
    background-position: bottom;
}


/* -------------- CONTACT---------------- */

.contact
{
    margin-top: 20px;
}
.contact h1
{
    font-weight: bolder;
    text-transform: uppercase;
}
.contact p, h1
{
    margin-right: 50px;
    margin-left: 50px;
    font-family: 'Fira Sans';
}
.contact_form
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Fira Sans';
}
form
{
    max-width: 600px;
}
form h2, input, textarea, button
{
    margin: 10px;
    padding: 10px;
}
form input, textarea
{
    width: 100%;
    border-bottom: 1px solid lightgray;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-family: 'Fira Sans';
    font-weight: bolder;
}

form textarea
{
    height: 25vh;
    resize: none;
}


